*{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    position: absolute;
    color: #ffffff;
}
nav a:hover{
    color: #069e52;
    transform: scale(110%);
}

header, .formulario {
    margin-top: 0;
    display: flex;
}

header{
    display: flex;
    height: 5em;
    justify-content: space-between;
    background: #002636;
    align-items: center;
    padding: 2em;
    color: #ffffff;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 4em;
    align-items: center;
    margin-right: 1em;
}

.link1{
    left: 60em;
    font-weight: 600;
    color: #ffffff;
}

.link2{
    left: 65em;
    font-weight: 600;
    color: #ffffff;
}

.link3{
    left: 70em;
    font-weight: 600;
    color: #ffffff;
}

footer{
    background: #002636;
    padding-top: 2em;
    padding-bottom: 4em;
    color: #ffffff;
}

.formulario{
    background: #002636;
    padding-bottom: 28em;
    color: #ffffff;
}

.titulo{
    position: absolute;
    top: 2em;
    left: 18em;
}

.nombret{
    position: absolute;
    top: 9em;
    left: 20em;
    color: #ffffff;
}

.nombrei{
    position: absolute;
    top: 9em;
    left: 26em;
    border-color: #069e52;
    border-radius: .3em;
    color: black;
    transition: all .5s;
}

.nombrei:hover{
    background:  #069e52;
    transform: scale(110%);
}

.correot{
    position: absolute;
    top: 9em;
    left: 40em;
    color: #ffffff;
}

.correoi{
    position: absolute;
    top: 9em;
    left: 49em;
    border-color: #069e52;
    border-radius: .3em;
    color: black;
    transition: all .5s;
}

.correoi:hover{
    transform: scale(110%);
    background:  #069e52;
}

.edadt{
    position: absolute;
    top: 12em;
    left: 20em;
    color: #ffffff;
}

.edadi{
    position: absolute;
    top: 12em;
    left: 26em;
    border-color: #069e52;
    border-radius: .3em;
    color: black;
    transition: all .5s;
}

.edadi:hover{
    background:  #069e52;
    transform: scale(110%);
}

.especialidadt{
    position: absolute;
    top: 12em;
    left: 40em;
    color: #ffffff;
}

.especialidadi{
    position: absolute;
    top: 12em;
    left: 49em;
    border-color: #069e52;
    background: white;
    color: black;
    border-radius: .3em;
    width: 12.3em;
    transition: all .5s;
}

.especialidadi:hover{
    background:  #069e52;
    transform: scale(110%);
}

.descripciont{
    position: absolute;
    top: 15em;
    left: 20em;
    color: #ffffff;
}

.descripcioni{
    position: absolute;
    top: 15em;
    left: 26em;
    border-color: #069e52;
    border-radius: .3em;
    color: black;
    transition: all .5s;
}

.descripcioni:hover{
    background:  #069e52;
    transform: scale(110%);
}

.insertat{
    position: absolute;
    top:15em;
    left: 40em;
    color: #ffffff;
}

.insertai{
    position: absolute;
    top:15em;
    left: 52em;
    border-color: #069e52;
    color: #ffffff;
    border-radius: .3em;
}

.hobbiest{
    position: absolute;
    top:18em;
    left: 26em;
    color: #ffffff;
}

.hobbiesi{
    position: absolute;
    top:18em;
    left: 40em;
    border-color: #069e52;
    color: black;
    border-radius: .3em;
    transition: all .5s;
}

.hobbiesi:hover{
    background:  #069e52;
    transform: scale(110%);
}

.enviar{
    position: absolute;
    top: 28em;
    left: 38em;
    border-color: #069e52;
    background: white;
    color: black;
    border-radius: .3em;
    transition: all .5s;
}

.enviar:hover{
    background:  #069e52;
    transform: scale(110%);
}

@media only screen and (max-width: 500px){ 
    
    header{
        display: flex;
        height: 6em;
        justify-content: space-between;
        background: #001b27;
        align-items: center;
        padding: .2em;
        color: #ffffff;
    }
    
    .logo{
        display: flex;
        align-items: center;
        width: 16em;
    }
    
    .logo img{
        height: 4em;
        align-items: center;
        margin-right: 0em;
    }
    
    .link1{
        left: 17em;
        top: 1em;
        font-weight: 600;
        color: #ffffff;
    }
    
    .link2{
        left: 17em;
        top: 2.5em;
        font-weight: 600;
        color: #ffffff;
    }
    
    .link3{
        left: 17em;
        top: 4em;
        font-weight: 600;
        color: #ffffff;
    }
    
    footer{
        background: #001b27;
        padding-top: 4em;
        padding-bottom: 4em;
        color: #ffffff;
    }
    
    .formulario{
        background: #002636;
        padding-bottom: 40em;
        color: #ffffff;
    }
    
    .titulo{
        position: absolute;
        top: 2.5em;
        left: 3.5em;
    }
    
    .nombret{
        position: absolute;
        top: 10em;
        left: 1em;
        color: #ffffff;
    }
    
    .nombrei{
        position: absolute;
        top: 10em;
        left: 10em;
        border-color: #069e52;
        border-radius: .3em;
        color: black;
    }
    
    .correot{
        position: absolute;
        top: 13em;
        left: 1em;
        color: #ffffff;
    }
    
    .correoi{
        position: absolute;
        top: 13em;
        left: 10em;
        border-color: #069e52;
        border-radius: .3em;
        color: black;
    }
    
    .edadt{
        position: absolute;
        top: 16em;
        left: 1em;
        color: #ffffff;
    }
    
    .edadi{
        position: absolute;
        top: 16em;
        left: 10em;
        border-color: #069e52;
        border-radius: .3em;
        color: black;
    }
    
    .especialidadt{
        position: absolute;
        top: 19em;
        left: 1em;
        color: #ffffff;
    }
    
    .especialidadi{
        position: absolute;
        top: 19em;
        left: 10em;
        border-color: #069e52;
        background: white;
        border-radius: .3em;
        color: black;
    }
    
    .descripciont{
        position: absolute;
        top: 22em;
        left: 1em;
        color: #ffffff;
    }
    
    .descripcioni{
        position: absolute;
        top: 22em;
        left: 10em;
        border-color: #069e52;
        border-radius: .3em;
        color: black;
    }
    
    .insertat{
        position: absolute;
        top:25em;
        left: 1em;
        color: #ffffff;
    }
    
    .insertai{
        position: absolute;
        top:27em;
        left: 1em;
        border-color: #069e52;
        border-radius: .3em;
        color: black;
    }
    
    .hobbiest{
        position: absolute;
        top:30em;
        left: 1em;
        color: #ffffff;
    }
    
    .hobbiesi{
        position: absolute;
        top:32em;
        left: 6em;
        border-color: #069e52;
        border-radius: .3em;
        color: black;
    }
    
    .enviar{
        position: absolute;
        top: 40em;
        left: 9em;
        border-color: #069e52;
        background: white;
        color: black;
        border-radius: .3em;
    }
    
}

